$robins-egg-blue: #abeafa;
$white: #f8f8f8;
$black: #373737;
$white-two: #eaeaea;
$white-three: #ffffff;
$bright-light-blue: #26d2fc;
$white-four: #e0e0e0;
$sunny-yellow: #fff51f;
$black-two: #333333;
$denim-blue: #3b5997;
$bright-cyan: #3fccfd;
$lipstick: #cb2027;
$greyish-brown: #555555;
$black-three: #000000;
$blood-orange: #fb4d01;
$white-five: #e9e9e9;
$white-six: #dad9d9;
$blood-orange-two: #ee4a02;
$deep-orange: #e24602;
$bright-yellow: #faef03;
$warm-grey: #717171;
$warm-grey-two: #707070;
$dandelion: #fbde06;
$red-60: rgba(254, 0, 0, 0.6);
$red-60-two: rgba(255, 0, 0, 0.6);
$black-four: #0c0c0c;
$brownish-grey: #686868;